*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }
 html{
    scroll-behavior: smooth;
 }
 nav{
     height: 65px;
     width: 100%;
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     z-index: 1;
     background-color: rgb(15, 15, 15);
 }
 .logo img{
     width: 80px;
     height: 80px;
     margin: 5px 30px;
     border-radius: 29px;
     box-shadow: 1px 1px rgba(0, 0, 0, 0.9);
     float: left;
 }
 nav ul{
     list-style-type: none;
     float: right;
 }
 nav ul li{
     display: inline-block;
     padding: 22px 20px;
 }
 nav ul li a{
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     text-decoration: none;
 }
 nav ul li a:hover{
     color: rgb(58, 127, 231);
 }
 /*nav ul li a:visited{
     color: rgb(255, 238, 162);
 }*/
.column1{
     position: relative;
     left: 7%;
     width: 50%;
     margin: 15px;
     border: 1px solid #000;
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     padding: 20px;
 }
h2{
    font-family: 'special elite';
    font-weight: 500;
    font-style: normal;
    text-align: center;
    line-height: 50px;
    letter-spacing: 4px;  
 }
p{
    text-align: justify;
    line-height: 25px; 
    letter-spacing: 2px;
 }
.column2{
    float: right;
    width: 30%;
    margin: 15px;
}
.image{
    position: relative;
    top: -648px;
    right: 15%;
}
 .border{
     border: 1px solid #020202;
 }
 body{
    background-color: rgb(26, 25, 25);
}
h6{
    font-size: 15px;
    position: absolute;
    top: 20%;
    left: 90%;
}
 footer{
     background-color: rgb(15, 15, 15);
     color: rgb(255, 255, 255);
     text-align: right;
     padding-top: 7px;
     padding-right: 9px;
     bottom: 0;
     clear: both;
     height: 35px;
     width: 100%;
     position: absolute;
     bottom: -95%;
 }
 .icons{
    position: absolute;
    top: 20%;
    left: 1%;
    text-align: center;
}
.fa-instagram{
    color: rgb(255, 255, 255);
    z-index: 1;
}
.fa-instagram:hover{
    color: rgb(58, 127, 231);
}
.fa-twitter{
    color: rgb(255, 255, 255);
    z-index: 1;
}
.fa-twitter:hover{
    color: rgb(58, 127, 231);
}
.fa-facebook-f{
    color: rgb(255, 255, 255);
    z-index: 1;
}
.fa-facebook-f:hover{
    color: rgb(58, 127, 231);
}
.fa-flickr{
    color: rgb(255, 255, 255);
    z-index: 1;
}
.fa-flickr:hover{
    color: rgb(58, 127, 231);
}
.fa-tumblr{
    color: rgb(255, 255, 255);
    z-index: 1;
}
.fa-tumblr:hover{
    color: rgb(58, 127, 231);
}
.back-to-top a{
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    position: absolute;
    top: 48%;
    left:50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}
.back-to-top a:hover{
    color: rgb(58, 127, 231);
}